/* Satoshi */
@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi/Satoshi-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi/Satoshi-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi/Satoshi-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi/Satoshi-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi/Satoshi-Black.otf);
    font-weight: 900;
}

/* Integral CF */

@font-face {
    font-family: 'Integral';
    src: url(../fonts/Integral/Fontspring-DEMO-integralcf-regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Integral';
    src: url(../fonts/Integral/Fontspring-DEMO-integralcf-medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Integral';
    src: url(../fonts/Integral/Fontspring-DEMO-integralcf-demibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'Integral';
    src: url(../fonts/Integral/Fontspring-DEMO-integralcf-bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'Integral';
    src: url(../fonts/Integral/Fontspring-DEMO-integralcf-extrabold.otf);
    font-weight: 800;
}

@font-face {
    font-family: 'Integral';
    src: url(../fonts/Integral/Fontspring-DEMO-integralcf-heavy.otf);
    font-weight: 900;
}